.inputContainer{
  display: flex;
  flex-direction: column;
  padding: 5px 17px;
}

.inputContent{
  display: flex;
  align-items: center;
  padding: 10px 0;

  input{
    font-size: 21px;
    max-width: 130px;

    &::placeholder{
      color: #131635;
    }
  }
}

.currencies{
  display: flex;
  align-items: center;

  img{
    height: 15px;
    width: 15px;
    border-radius: 50%;

    &:nth-child(2){
      margin-left: -5px;
      border: 3px solid #FFFFFF;
    }
  }
}

.currency{
  font-size: 20px;
  color: #A4B4CB;
}
