.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;


  select:optional{
    color: #131635;
  }

  &>*{
    display: flex;
    align-items: center;

    span{
      font-size: 9px;
      font-weight: 500;
    }
  }
}

.debitCircles{
  margin-right: 11px;
}