@import "../../../scss/settings";
@import "../../../scss/mixins";

.container{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}
.scrollTable{

  table{
  width:110%;
  height: 130px;
  }

  @include media-max($xxs-break){
    overflow: scroll;
    table {
      width: 170%;
    }
    tr{
      margin-bottom: 20px;
    }
    td{
      &:nth-child(1){
      width: 40px;
      }
      width: 100px;
      }
  }
}

.transactionText{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.headingThird{
  font-size: 15px;
}

.img{
  width: 29px;
  height: 29px;
}