@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.scrollTable {

  table {
    width: 109%;
    height: 140px;
  }

  @include media-max($l-break) {
    overflow: scroll;
    table {
      width: 170%;
    }
  }
}
.transactionText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  button{
    color: #5E636A;
  }
}

.headingThird {
  font-size: 15px;
}

.img {
  width: 29px;
  height: auto;
}