@import "../../scss/settings";
@import "../../scss/mixins";

.container{
  display: flex;
  flex-direction: column;

  &>*{
    margin-bottom: 14px;
  }
}
.text{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowBox{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #0177FB;
  text-align: center;
}
.icons{
  display: flex;
  align-items: center;

  &>*{
    margin-left: 20px;
  }
}

.arrowContainer{
  display: flex;
  align-items: center;

  &>*{
    &:not(:last-child){
      margin-right: 9px;
    }
  }
}

.select{
  flex: 0 0 60px;
  padding: 6px 2px 6px 9px;
  margin-left: auto;
  border: 0.73125px solid #E5E9F4;
  border-radius: 12.9443px;
  box-sizing: border-box;
}