@import '../../scss/mixins';
@import '../../scss/settings';

.container{
  position:relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.select{
  display: flex;
  align-items: center;
  position: relative;

  input{
    display: flex;
    background-color: #FFFFFF;
    cursor: pointer;
    width: 70%;
    &::placeholder{
      color: currentColor;
    }
  }
  button{
    transform: rotate(90deg);
  }
}
.backdown{
  z-index: 1000;
  background-color: #FFFFFF;
  max-height: 200px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transform: translateY(0);
  transition: $transition;
  box-shadow: 0 10.9688px 21.9375px rgba(118, 118, 118, 0.2);

  button{
    padding: 5px 10px;
    text-transform: capitalize;
    color: inherit;

    &:hover{
      background-color: rgba(#E5F1FF, 0.4);
    }
  }

  &.close{
    transform: translateY(-150%);
    display: none;
  }
}

.backdrop {
  z-index: 50;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}