@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #E8ECF5;

  @include media-max($sm-break) {
    padding-bottom: 0;
    border-bottom: 2px solid #E8ECF5;
  }
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-max($sm-break) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    max-width: 200px;
    height: 100vh;
    padding: 20px 20px 0 40px;
    background-color: #FFFFFF;
    z-index: 4000;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10.9688px 21.9375px rgba(122, 122, 122, 0.2);

    & > * {
      margin: 20px 0;

      &:nth-child(1) {
        margin-top: 90px;
      }
    }

    &.close {
      transform: translateX(100%);
    }
  }
}

.navLinks {
  display: flex;
  flex-direction: column;
}

.navSettings {
  display: flex;
  flex-direction: column;
}

.messages {
  margin-left: 30px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #0177FB;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
}
