@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  display: flex;
  flex-direction: column;
  padding: 42px 30px;
}

.statisticsItems {
  display: flex;
  gap: 42px;

  @include media-max($l-break) {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

.text {
  font-size: 16px;
  margin-bottom: 25px;
}

.statisticContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  @include media-max($xxs-break) {
    margin-bottom: 10px;
    flex: 0 1 100px;
  }
}

.statisticText {
  display: flex;
  flex-direction: column;
  margin-left: 6px;

  & > * {
    &:nth-child(1) {
      font-size: 14px;
      color: #333333;
    }

    &:nth-child(2) {
      color: #798BA3;
    }
  }
}

