@import "../../../scss/settings";
@import "../../../scss/mixins";

.container{
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
}

.statisticsItems{
  display: flex;

  @include media-max($xxs-break){
    flex-direction: column;
  }
}

.text{
  font-size: 16px;
  margin-bottom: 25px;
}
.statisticContainer{
  display: flex;
  align-items: center;

  &:not(:last-child){
    margin-right: 50px;
  }

  @include media-max($xxs-break){
   margin-bottom: 10px;
  }
}

.statisticText{
  display: flex;
  flex-direction: column;
  margin-left: 6px;

  &>*{
    &:nth-child(1){
      font-size: 14px;
    }
    &:nth-child(2){
      color: #798BA3;
    }
  }
}

