@import '../scss/mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  max-width: 1520px;
  padding: 20px;
  margin: 0 auto;
}

.wrapper {
  flex: 1 0 auto;
}

