@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  position: relative;

  & > * {
    &:not(:first-child) {
      margin: 20px 0;
    }
  }

  @include media-max($xxs-break) {
    margin-top: 20px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.recipients {
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
    height: 24px;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: -5px;
  }

}

.line {
  margin-top: 12px;
  width: 24px;
  border-bottom: 2px solid #0177FB;
  border-radius: 7px;
}

.groupContainer {
  position: relative;
  padding: 15px 18px;
  width: 210px;
  background-color: #FFFFFF;
  box-shadow: 0 3.65625px 16.8187px rgba(0, 0, 0, 0.06);
  border-radius: 8.04375px;
  z-index: 100;
}

.backgroundBox {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 110px;
  z-index: 10;
  background: #F3F3F3;
  box-shadow: 0 16.8187px 32.9062px rgba(0, 0, 0, 0.1);
  border-radius: 14px;

  @include media-max($xxs-break) {
    top: 70%;
  }
}

.group {
  margin: 10px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
  }


  img {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin-right: -5px;
  }
}

.groupMember {
  display: flex;
  justify-content: space-between;

  & > * {
    display: flex;
    align-items: center;
  }
}

.textContainer {
  margin-left: 12px;
}

.plus {
  margin-left: 20px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px dotted #DDE5F0;
  color: #0176FA;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 12px;
}

.message {
  display: flex;
  position: relative;
}

.circle {
  position: absolute;
  top: -5px;
  right: -5px;
  height: 4px;
  width: 4px;
  background-color: #0177FB;
  border-radius: 50%;
}