.container {
  padding: 15px 13px;
  border-radius: 10px;
  border: 0.566969px solid #E8E8E8;

  & > * {
    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &:first-child {
      margin-bottom: 10px;
      font-size: 11px;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 6px 10px 5px;
  color: #3D424B;
  border: 1.2px solid #819CFD;
  border-radius: 8px;
  font-size: 15px;

  label {
    color: #A8B1BF;
    margin-bottom: 5px;
    font-size: 10px;
  }
}

.inputContent {
  display: flex;
  align-items: center;
}

.currencies {
  display: flex;
  align-items: center;
  margin-left: auto;

  img {
    height: 17px;
    width: 17px;
    border-radius: 50%;

    &:nth-child(2) {
      margin-left: -5px;
    }
  }
}

.debitContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 10px;
  border: 0.5px solid #F6F8FB;
  border-radius: 7px;
  max-width: 180px;

  & > * {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 10px;
    color: #798BA3;
    margin-left: -5px;
  }
}

.debitCircles {
  span {
    margin-left: 5px;
  }
}

.transferIcons {
  display: flex;
  padding-bottom: 12px;
  gap: 7px;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 9px;

    span {
      margin-top: 15px;
      color: #798BA3;
    }
  }
}

.select {
  flex: 0 1 60px;
  color: #798BA3;
}