.container{
  justify-content: space-between;
  align-items: center;
}
.debitContent{
  display: flex;
  justify-content: space-between;
  padding: 17px 0 17px 15px;

  &>*{
    display: flex;
    align-items: center;

    span{
      font-size: 9px;
      font-weight: 500;
    }
  }
}
.debitCircles{
  margin-right: 11px;
}

.amountContainer{
  font-size: 12px;
  display: flex;
  flex: 0 1 80px;

  span{
    color: #A4B4CB;
    font-size: 12px;
    margin-right: 2px;
  }
}
